<ion-tabs>
    <ion-header>
        <ion-toolbar class="ion-no-padding" color="chatboxPrimary">
            <ion-buttons slot="start">
                <!-- <ion-back-button color="chatboxLight"></ion-back-button> -->
                <ion-button fill="clear" (click)="goBack()" slot="end" class="ion-no-margin">
                    <ion-icon slot="icon-only" slot="icon-only" color="light" name="arrow-back"></ion-icon>
                </ion-button>
            </ion-buttons>
            <ion-title color="chatboxLight">ChatBox</ion-title>
            <!-- <ion-buttons slot="end">
                <ion-button (click)="presentPopover($event)" fill="clear" slot="end" class="ion-no-margin">
                    <ion-icon slot="icon-only" slot="icon-only" color="light" name="more"></ion-icon>
                </ion-button>
            </ion-buttons> -->
        </ion-toolbar>

        <ion-tab-bar slot="top" color="chatboxPrimary">
            <ion-tab-button tab="inbox">
                <ion-icon name="mail-open" color="chatboxLight"></ion-icon>
                <ion-label color="chatboxLight">Inbox</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="contact">
                <ion-icon name="contact" color="chatboxLight"></ion-icon>
                <ion-label color="chatboxLight">Contact</ion-label>
            </ion-tab-button>

            <!-- <ion-tab-button tab="tab3">
            <ion-icon name="send"></ion-icon>
            <ion-label>Status</ion-label>
        </ion-tab-button> -->


        </ion-tab-bar>
    </ion-header>

</ion-tabs>