<ion-content>
    <ion-list>
        <ion-item lines="full" button *ngFor="let user of users" (click)="userClicked(user)">
            <ion-avatar slot="start">
                <img [src]="(user.meta && user.meta.pictureURL)?user.meta.pictureURL:'assets/imgs/user.png'" onError="src = 'assets/imgs/user.png'">
            </ion-avatar>
            <ion-label>
                {{ (user.meta && user.meta.name)?user.meta.name:user.meta.email }}
                <small *ngIf="user.meta && user.meta.descriptions"><br>{{ user.meta.descriptions }}</small>
            </ion-label>

            <ion-input [ngModel]="user.meta.uid" [hidden]="true"></ion-input>
            <!-- <ion-badge slot="end"> {{ On }}</ion-badge> -->
            <ion-icon *ngIf="user.online && user.online.status" slot="end" color="success" name="ios-radio-button-on" style="font-size: 12px;"></ion-icon>
            <ion-checkbox (ionChange)="updateUsers($event, user)" *ngIf="isEnabled" slot="end" color="chatboxPrimary"></ion-checkbox>
        </ion-item>
    </ion-list>


    <ion-fab *ngIf="!isEnabled" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>

        <ion-fab-list side="top">
            <ion-fab-button data-desc="Group" (click)="createThread(1)">
                <ion-icon color="chatboxPrimary" name="people"></ion-icon>
                <!-- <ion-label>Group</ion-label> -->
            </ion-fab-button>
            <!-- <ion-fab-button data-desc="Broadcast" (click)="createThread(2)">
                <ion-icon color="chatboxPrimary" name="globe"></ion-icon>
            </ion-fab-button> -->
            <!-- <ion-fab-button>Youtube</ion-fab-button> -->
        </ion-fab-list>

    </ion-fab>

    <ion-fab *ngIf="isEnabled" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button style="float: left" (click)="isEnabled = false; userList=[];">
            <ion-icon name="close"></ion-icon>
        </ion-fab-button>
        <ion-fab-button style="float: left" (click)="createGroupThread()">
            <ion-icon name="arrow-forward"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <!-- <ion-fab *ngIf="isEnabled" vertical="bottom" horizontal="end" slot="fixed">
            
        </ion-fab> -->
</ion-content>