<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-item button *ngFor="let room of inbox" (click)="openChat(room)">
    <ion-avatar slot="start" style="position: relative">
      <img [src]="(room.details && room.details.pictureURL)?room.details.pictureURL:'http://flathash.com/296.png'" onError="src = 'assets/imgs/user.png'" >
      <!-- <ion-icon *ngIf="room.details.online" class="online-icon" color="success" name="ios-radio-button-on"></ion-icon> -->
    </ion-avatar>      
    <ion-label>{{ room.details.name }}<p *ngIf="room.lastMessage" [innerHTML]="getLastMessage(room)" ></p></ion-label>
    <span slot="end" class="ion-no-margin time-string">
      {{ getTimeString(room) }}
    </span>
  </ion-item>
   
</ion-content>
